{
    "map": {
        "bad_files_csv.descr": "Simple list of all chips deemed necessary to remove.",
        "bad_files_csv.title": "Bad Files CSV",
        "chips_folder.descr": "<xdoc><p><span>The folder where the image chips are stored (output from the </span><a href=\"https://doc.esri.com/en/arcgis-pro/latest/tool-reference/image-analyst/export-training-data-for-deep-learning.html?tabs=dialog\">Export Training Data For Deep Learning</a><span> Image Analyst Tool)</span></p></xdoc>",
        "chips_folder.title": "Chips",
        "description": "Checks chip files from the Export Training Data for Deep Learning tool for pixel validity and outputs results.",
        "excellent_valid_percent.descr": "<xdoc><p><span>Threshold for deeming a chip as excellent quality. If the chip's percent of valid pixels (containing data, not a No Data value) are above this, it will be marked \"Excellent\" in the Output CSV. </span></p></xdoc>",
        "excellent_valid_percent.title": "Excellent Valid Percent",
        "fill_value.descr": "Identifies specific pixel value used to represent filled, padded, or otherwise non-data areas.",
        "fill_value.title": "FILL_VALUE",
        "folder_or_individual_chips.domain.Folder": "Folder",
        "folder_or_individual_chips.domain.Individual Chips": "Individual Chips",
        "folder_or_individual_chips.title": "Folder or Individual Chips",
        "good_valid_percent.descr": "Threshold for deeming a chip as good quality. If the chip's percent of valid pixels (containing data, not a No Data value) are below this (but not below the threshold for \"Marginal\"), it will be marked \"Edge Tile\" in the Output CSV. If the chip's percent of valid pixels are above this (but not above the threshold for \"Excellent\"), it will be marked \"Good\" in the Output CSV.",
        "good_valid_percent.title": "Good Valid Percent",
        "group_inspection.descr": "<xdoc><p><span>Creates group layers for chips by their assessment (Excellent, Good, Edge Tile, Marginal, and Remove) within a selected map. </span></p><p><span>WARNING: This could significantly increase computation time.</span></p></xdoc>",
        "group_inspection.title": "Group Inspected Chips",
        "group_map.descr": "Map selected for chip group layers to be created. If no map is selected, the groups will be created in the current map in which the tool is operating.",
        "group_map.title": "Groupings Map",
        "indiv_chips.title": "Chips",
        "marginal_valid_percent.descr": "Threshold for deeming a chip as marginal quality. If the chip's percent of valid pixels (containing data, not a No Data value) are below this (but not below the threshold for \"Remove\"), it will be marked \"Marginal\" in the Output CSV.",
        "marginal_valid_percent.title": "Marginal Valid Percent",
        "nodata_threshold.descr": "Identifies extremely large-magnitude pixel values that are treated as NoData/invalid values.",
        "nodata_threshold.title": "No Data Threshold",
        "out_csv.descr": "Will contain detailed evaluations on all chips",
        "out_csv.title": "Output CSV",
        "params.category.1": "Parameters",
        "remove_valid_percent.descr": "Threshold for deeming a chip fit for removal. If the chip's percent of valid pixels (containing data, not a No Data value) are below this, it will be marked \"Remove\" in the Output CSV and placed in the Bad Files CSV.",
        "remove_valid_percent.title": "Remove Valid Percent",
        "summary": "<xdoc><p><span>This tool checks raster/TIFF chip files (created by the Export Training Data for Deep Learning tool) for data quality problems before they are used for further deep-learning model training and other workflows. The results of this are then outputted as the Output CSV and Bad Files CSV.</span></p><p><span>It examines each raster chip to determine how much of the image contains usable data and identifies pixels that may represent NoData, suspicious/extreme values, or fill values. Each chip is then classified as either:</span></p><p><span>- Good — enough usable data is present.</span></p><p><span>- Remove — too much of the chip contains invalid or questionable data.</span></p><p><span>The tool can also create a \"Remove Chips\" group layer in the current ArcGIS Pro map so that problem chips can be easily identified and reviewed.</span></p></xdoc>",
        "suspect_threshold.descr": "Defines the upper magnitude limit for data to be considered valid.",
        "suspect_threshold.title": "Suspect Threshold",
        "title": "2. Inspect Chips"
    }
}
